<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="css/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <nav id="header">
      <div class="brand">
        <a class="logo"><span>hodlinfo</span>.com</a>
        <p>powered by <span>Finstrcct</span></p>
      </div>
      <div class="parameters">
        <p>INR  <i class="fas fa-sort-down"></i></p>
        <p>BTC  <i class="fas fa-sort-down"></i></p>
      </div>
      <div class="right-header">
        <div class="circle"><p>58</p></div>
        <button type="button" class="btn">
          Connect Telegram
        </button>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </nav>
  