<%- include('includes/_header') %>
    <table class="table">
      <thead class="table-head">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Last</th>
          <th>Buy/Sell Price</th>
          <th>Volume</th>
          <th>base_unit</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <%- include('includes/_data') %>
      </tbody>
    </table>
  </body>
</html>