* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #152238;
}

/* header */

#header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin:0 auto;
  color: white;
  font-size: 20px;
  align-items: center;
}

#header .logo span{
  color: aqua;
  text-transform: uppercase;
  font-size: 30px;
}

.brand p{
  text-transform: capitalize;
}

.brand p span{
  color: aqua;
}

.parameters p{
  display: inline;
  background-color: rgb(255, 255, 255, 0.2);
  padding: 5px 15px;
  font-size: medium;
  border: 1px solid #152238;
  position: relative;
}
.parameters .fas{
  font-size: 14px;
  align-self: center;
  position: absolute;
  top: 5px;
}


.right-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid aqua;
  font-size: 14px;
  color: aqua;
  margin: 0 10px;
  position: relative;
}

.circle p{
  position: absolute;
  top: 3px;
  left:5px
}

.btn{
  background-color: aqua;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  margin: 0 10px;
}

/* toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input{
  height: 0;
  width: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 35px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: aqua;
}

input:focus + .slider {
  box-shadow: 0 0 1px aqua;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


/* data table */

.table {
  width: 50%;
  margin: 20px auto;
  text-align: center;
  border-spacing: 0px;

}

.table-body td, .table-head th{
    padding: 1em;
    text-align: center;
    
}

.table-head {
  margin: 100px;
  color: #808080;
  font-size: 18px;
}

.table-body {
  color: white;
  font-size: 20px;
  background-color: rgb(255, 255, 255, 0.2);
  margin-top: 10px;

}



.table-body > tr > td {
  padding: 5px 10px;
  border-bottom:solid 8px #152238;
}
